<!DOCTYPE html>
<html lang="id">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{'./favicon.png' | url }}" type="image/x-png">
	<title>Self-risk Assessment Kanker Serviks SINARA</title>
	<link rel="stylesheet" href="/assets/css/styles.css">
	<meta name="description"
		content="SINARA atau Self-Risk Assessement Kanker Serviks merupakan aplikasi untuk melakukan proses penilaian resiko diri terhadap penyakit Kanker Serviks secara digital.">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
	<style>
		body {
			padding: 0;
			margin: 0;
			line-height: 1.5;
			background-color: var(--background-color);
		}
	</style>
</head>

<body>
	{% include "navbar.njk" %}
	<content>
		<img src="./assets/images/banner.png" class="banner" alt="">
		<h1>Selamat Datang ke SINARA</h1>
		<p>
			Aplikasi SINARA dirancang untuk membantu pengguna dalam melakukan penilaian risiko pribadi terhadap kanker
			serviks. Aplikasi ini bukan pengganti konsultasi medis profesional dan tidak boleh digunakan sebagai dasar untuk
			diagnosis atau pengobatan.
		</p>
		<p>Baca informasi lanjutan pada link dibawah ini:</p>
		<ul>
			{% for navigation in links.navigation %}
			<li>
				<a href="{{ navigation.link | url | normalizedUrl }}">{{ navigation.longName }}</a>
			</li>
			{% endfor %}
		</ul>
	</content>
	{% include "footer.njk" %}
</body>

</html>