<footer>
  <ul>
    <li>
      <img src="/assets/images/logobima.png" alt="Logo BIMA" srcset="">
    </li>
    <li>
      <img src="/assets/images/logokemendikbud.png" alt=" LOGO KEMENDIKBUD" srcset="">
    </li>
    <li>
      <img src="/assets/images/logoukim-150px.png" alt="LOGO UKIM" srcset="">
    </li>
  </ul>
  <p>
    <strong>SINARA</strong> atau <i>Self-Risk Assessement</i> Kanker Serviks merupakan aplikasi untuk melakukan proses
    penilaian resiko diri terhadap penyakit Kanker Serviks secara digital.
  </p>
  <h4 style="text-transform: uppercase; margin-bottom: 0;">Dengan Kerjasama dari</h4>
  <ul>
    <li>
      <a target="_blank" href="https://bima.kemdikbud.go.id/">BIMA</a>
    </li>
    <li>|</li>
    <li>
      <a target="_blank" href="https://kemdikbud.go.id/">KEMDIKBUD</a>
    </li>
    <li>|</li>
    <li>
      <a target="_blank" href="https://kemdikbud.go.id/">UKIM</a>
    </li>
  </ul>
  <p>
    <strong>Hak Cipta &copy; 2024 - Devita Madiuw</strong>
  </p>
  <ul class="links">
    <li>
      <a href="{{ './privacy' | url }}">Kebijakan Privasi Aplikasi</a>
    </li>
    <li>|</li>
    <li>
      <a href="{{ './terms' | url }}">Syarat dan Ketentuan Penggunaan</a>
    </li>
  </ul>
  <p>Didukung oleh <a target="_blank" href="https://emptywork.my.id">Emptywork</a></p>
</footer>