<nav>
  <div class="navbar-top">
    <a href="/" class="brand">
      <span class="brand-title">SINARA</span>
      <ul>
        <li class="brand-subtitle">Self-risk Assessment</li>
        <li class="brand-subtitle-secondary">Kanker Serviks</li>
      </ul>
    </a>

    <ul class="links">
      {% for navigation in links.navigation %}
      <li>
        <a href="{{ navigation.link }}">{{ navigation.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <a class="download" href="{{ links.googlePlay | url }}" aria-labelledby="linkDownload">
      <span id="linkDownload" style="display: none">Link download for the app</span>
      {% include "playstoreLogo.njk" %}
    </a>
  </div>
  <div class="navbar-bottom">
    <ul class="links">
      <li>
        <a href="/privacy">Privasi</a>
      </li>
      <li>
        <a href="/terms">Syarat dan Ketentuan</a>
      </li>
      <li>
        <a href="/contact">Hubungi Kami</a>
      </li>
    </ul>
  </div>
</nav>